<link href="{{ rt.assets }}/css/style.css" rel="stylesheet" />
<script src="{{ rt.assets }}/js/jquery-1.11.0.min.js"></script>
<script src="{{ rt.assets }}/js/lightbox.js"></script>
<link href="{{ rt.assets }}/css/lightbox.css" rel="stylesheet" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>