</html>
    <head>
        <title>Not Found</title>
        {% include "parts/assets.html" %}
        {% include "parts/favicons.html" %}
        {% if rt.GA_TAG != "" %}
            {% include "parts/analytics.html" %}
        {% endif %}
    </head>
    <body>
        <div id="wrapper">
            <div id="head">
                <nav id="menu">
                    {% if rt.root_uri == rt.uri %}
                        <span class="active">{{ rt.get_title(rt.root_uri) }}</span>
                    {% else %}
                        <a href="{{ rt.root_uri }}">{{ rt.get_title(rt.root_uri) }}</a>
                    {% endif %}
                    {% for uri in rt.get_children(rt.root_uri) %}
                        <a href="{{ uri }}">{{ rt.get_title(uri) }}</a>
                    {% endfor %}
                </nav>
            </div>
            <div id="main-content">
                <h1 id="title">Not Found</h1>
                <p>Sorry, the resource you were looking for could not be found.<p>
            </div>
            <div id="foot">
                <hr>
                {% if rt.COPYRIGHT_OWNER != "" %}
                    Copyright &copy; {{ rt.get_copyright_year() }} {{ rt.COPYRIGHT_OWNER }}. All rights reserved. &nbsp;&nbsp;
                {% endif %}
                Powered by <a href="http://www.joshodom.net/richtree/">RichTree</a>.
                <form id="search" action="http://www.google.com/search" method="GET">
                    <input type="text" name="q" placeholder="Search">
                    <input type="hidden" name="sitesearch" value="{{ rt.get_sitename() }}">
                </form>
            </div>
        </div>
    </body>
</html>
