</html>
    <head>
        <title>{{ rt.get_title() }}</title>
        {% include "parts/assets.html" %}
        {% include "parts/favicons.html" %}
        {% if not rt.bots_can_index() %}
            <meta name="robots" content="noindex, nofollow">
        {% endif %}
        {% if rt.get_description() != "" %}
            <meta name="description" content="{{ rt.get_description()|e }}">
        {% endif %}
        {% if rt.GA_TAG != "" %}
            {% include "parts/analytics.html" %}
        {% endif %}
    </head>
    <body>
        <div id="wrapper">
            <div id="head">
                <nav id="menu">
                    {% if rt.root_uri == rt.uri %}
                        <span class="active">{{ rt.get_title(rt.root_uri) }}</span>
                    {% else %}
                        <a href="{{ rt.root_uri }}">{{ rt.get_title(rt.root_uri) }}</a>
                    {% endif %}
                    {% for uri in rt.get_children(rt.root_uri) %}
                        {% if uri == rt.uri %}
                            <span class="active">{{ rt.get_title(uri) }}</span>
                        {% elseif rt.is_child(rt.uri, uri) %}
                            <a href="{{ uri }}" class="active">{{ rt.get_title(uri) }}</a>
                        {% else %}
                            <a href="{{ uri }}">{{ rt.get_title(uri) }}</a>
                        {% endif %}
                    {% endfor %}
                </nav>
            </div>
            <div id="main-content">
                {% if rt.get_children()|length > 0 and rt.uri != rt.root_uri %}
                    <div id="children">
                        <!--<h2>Nav</h2>-->
                        {% for uri in rt.get_children() %}
                            <a href="{{ uri }}">{{ rt.get_title(uri) }}</a>
                            {% if rt.get_description(uri) != "" %}
                                <div class="child-description">{{ rt.get_description(uri) }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if rt.get_breadcrumbs()|length > 0 %}
                    <div id="breadcrumbs">
                        {% for uri in rt.get_breadcrumbs() %}
                            {% if uri != rt.uri %}
                                <a href="{{ uri }}">{{ rt.get_title(uri) }}</a> &raquo;
                            {% else %}
                                <span class="active">{{ rt.get_title(uri) }}</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                <h1 id="title">{{ rt.get_title() }}</h1>
                {{ rt.get_body()|raw }}
            </div>
            {% block extra_content %}{% endblock %}
            {% if rt.can_comment() %}
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    var disqus_shortname = '{{ rt.DISQUS_SHORTNAME }}';

                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            {% endif %}
            <div id="foot">
                <hr>
                {% set node_info = rt.get_node_info() %}
                {% if rt.COPYRIGHT_OWNER != "" %}
                    Copyright &copy; {{ rt.get_copyright_year() }} {{ rt.COPYRIGHT_OWNER }}. All rights reserved. &nbsp;&nbsp;
                {% endif %}
                This page last updated {{ rt.pretty_date(node_info.mtime) }}. &nbsp;&nbsp; Powered by <a href="http://www.joshodom.net/richtree/">RichTree</a>.
                <form id="search" action="http://www.google.com/search" method="GET">
                    <input type="text" name="q" placeholder="Search">
                    <input type="hidden" name="sitesearch" value="{{ rt.get_sitename() }}">
                </form>
            </div>
        </div>
    </body>
</html>
