{% extends "default.html" %}
{% block extra_content %}
    <table id="file-listing">
        <tr>
            <th class="filename">Filename</th>
            <th class="filesize">Size</th>
            <th class="last-modified">Last Modified</th>
        </tr>
        {% for file in rt.get_files(rt.uri) %}
            <tr>
                {% if rt.is_file_regular_file(file) %}
                    <td class="filename"><a href="{{ file.name }}">{{ file.name }}</a></td>
                    {% set pretty_size = rt.pretty_filesize(file.stat.size) %}
                    <td class="filesize">{{ pretty_size.filesize }} <span class="filesize-suffix">{{ pretty_size.suffix }}</span></td>
                    <td class="last-modified">{{ rt.pretty_date(file.stat.mtime) }}</td>
                {% else %}
                    <td class="filename"><a href="{{ file.name }}/">{{ file.name }}/</a></td>
                    <td class="filesize">--- <span class="filesize-suffix">--</span></td>
                    <td class="last-modified">{{ rt.pretty_date(file.stat.mtime) }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}