{% extends "default.html" %}
{% block extra_content %}
    <div id="image-gallery">
        {% for file in rt.get_image_files(rt.uri) %}
            <a href="{{ file.name }}" data-title="{{ rt.get_image_description(file.name) }}" data-lightbox="image-gallery">
                <img src="{{ rt.get_image_thumb(file.name) }}" alt="{{ rt.get_image_description(file.name) }}">
                <div class="description">{{ rt.get_image_description(file.name) }} <div class="gradient"></div></div>
            </a>
        {% endfor %}
    </div>
{% endblock %}