body {
    margin: 20px 50px 50px 50px;
    font-family: 'Vollkorn', Times, Serif;
    font-size: 18px;
    background-color: #eeeeee;
    color: #444;
}
h1, h2, h3, h4, h5, h6, th, a, .active, .child-description, #foot, #breadcrumbs {
    font-family: 'Open Sans', Arial, Sans-serif;
}
a {
    color: #67bea2;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8em;
}
a:visited {
    color: #439f81;
}
.active {
    font-weight: bold;
    font-size: 0.8em;
}
span.active {
    color: #888888;
}
#main-content {
    //font-size: 1.15rem;
    line-height: 1.5rem;
}
#main-content a[data-lightbox] {
    display: inline-block;
    float: left;
    margin: 0px 20px 30px 0px;
    clear: left;
}
#main-content p {
    clear: left;
}
img {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
}
#main-content {
    //overflow: auto;
}
#breadcrumbs {
    //padding-left: 2px;
    font-size: 0.9rem;
    font-weight: bold;
}
#breadcrumbs > a, #breadcrumbs > .active {
    font-size: 1em;
    margin: 0px 3px;
}
h1#title {
    margin-top: 10px;
}
#children {
    float: right;
    width: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    padding: 0px 20px 20px 20px;
    margin: 25px 0px 25px 25px;
    font-size: 0.9rem;
}
#children h2 {
    text-align: center;
}
#children a {
    display: block;
    margin: 20px 0px 5px 0px;
    font-size: 1.1em;
}
#children .child-description {
    margin-left: 20px;
    color: #666666;
    line-height: 1.65em;
}
#wrapper {
    padding: 40px 40px 20px 40px;
    -webkit-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.15);
    background-color: white;
}
#head {
    margin-bottom: 20px;
}
#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.25rem;
}
#menu a, #menu .active {
    display: inline-block;
    padding: 8px 12px;
    margin: 10px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #eeeeee;
    font-size: 1em;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.09);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.09);
}
#menu .active {
    border-color: #cccccc;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
}
#foot {
    font-size: 0.8rem;
    margin-top: 20px;
    color: #666666;
    clear: both;
}
#foot hr {
    margin-bottom: 15px;
}
#foot a {
    font-size: 1em;
}
code {
    font-family: Courier New, Courier, monospace;
    color: #777777;
}
blockquote {
    font-style: italic;
    color: #777777;
}
#search {
    display: inline-block;
    float: right;
}
hr {
    border-style: none;
    height: 1px;
    background-color: #dddddd;
    clear: left;
}

#file-listing {
    text-align: left;
    clear: left;
}
#file-listing .filesize {
    text-align: right;
}
td.filesize {
    font-family: Courier New, Courier, monospace;
}
.filesize-suffix {
    color: gray;
    font-weight: bold;
}
#file-listing td,
#file-listing th {
    padding: 8px 30px 8px 0px;
}

#image-gallery {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#image-gallery a {
    position: relative;
    margin: 30px 5px;
}
#image-gallery a img {
    display: block;
    position: relative;
    z-index: 20;
}
#image-gallery a .description {
    position: absolute;
    display: block;
    width: 100%;
    padding: 5px 0px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Vollkorn', Times, Serif;
    color: gray;
    font-weight: normal;
}
#image-gallery a .description .gradient {
    position: absolute;
    z-index: 10;
    display: block;
    height: 100%;
    width: 25px;
    top: 0px;
    right: 0px;
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white); /* Standard syntax (must be last) */
}

#disqus_thread {
    margin-top: 30px;
}